<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
    $(function(){

       $('#submitButton').click(function(event){

        event.preventDefault();

         // prepare req params to call server function. Values
         // must be space or comma separated for FAA wx url
         var airportIds = $('#aiportIdsInput').val();

         var reqParms = {'airportIds': airportIds};

         // call server url to get wx report for passed in airport
         // id's and then populate a div with the results
         $('#metarResults').load('/wx', reqParms);
       });

    });
  </script>
</head>
<body>
<form class="form-horizontal">
<fieldset>
<legend>METARS</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="aiportIdsInput">Airports Ids</label>
  <div class="col-md-4">
  <input id="aiportIdsInput" name="aiportIdsInput" type="text" placeholder="space or comma delimited" class="form-control input-md">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submitButton"></label>
  <div class="col-md-4">
    <button id="submitButton" name="submitButton" class="btn btn-primary">Submit</button>
  </div>
</div>

<div id="metarResults" >
</div>

</fieldset>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
